/* @override 
	http://cdn1.weekdayheroes.co.za/includes/css/custom.css
	http://local.butchershop.co.za/includes/css/custom.css
*/


html {
	/*background:#fff url(../includes/home-an-option2.jpg) center top no-repeat;*/
}
body {
	padding-top: 0;
	color:#3e3e3e;
}

/* @group Typographic */
/*
a {
	color:#252525;
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
	/*background:#252525;*/
	color: #50a669;
}
*/


/* @group Headings and Pull Quotes */

h1, h2, h3, h4, h5, h6 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform: uppercase;
}
/*h1 {
	padding:20px 0 0;
}
*/h2 {
	padding:20px 0 0;
}
h1 {
	padding-top: 30px;
}
h2 {
	color: #181818;
}
h3 {
	color: #000;
	font-size: 12px;	
	/*padding-top: 30px;*/
}
h4 {
	color: #fff;
	padding-top: 0px;
}
blockquote {
	margin:0 0 20px;
}
blockquote h3 {
	padding:20px 0 0;
	color: #78766e;
	text-transform: none;
}
blockquote h4 {
	padding: 0;
	color: #78766e;
	text-transform: none;
	text-align: center;
}
blockquote h5 {
	padding: 0;
	color: #78766e;
	text-transform: none;
}
#sidebar blockquote h3 {
	text-align: left;
	color: #3e3e3e;
}
#sidebar blockquote h4 {
	padding-top: 20px;
	text-align: left;
}
#sidebar blockquote h5 {
	text-align: left;
	text-transform: none;
	line-height: 1.5;
}
#sidebar h4.grid_2 { /*special sidebar header*/ 
	text-align: center;
}
#sidebar h5.grid_2 { /*green header in the sidebar*/
	padding: 10px 10px 30px;
	margin-top: 110px;
	background: #093b1f;
	color: #f4f0cd;
	width: 120px;
}
/*#promo h4 {
	color: #3e3e3e;
}*/

/* @end */

/* @group TOP NAV */

#navigation ul {
	margin-top: 1.3em;
	white-space: nowrap;
}
#navigation li, #navigation h4 {
	margin: 0;
	display: inline-table;
}
#navigation h4 {
	text-transform: none;
	color: #2a6744;
}
#navigation li {
	margin-right: 3em;
	color: #345040;
}
#navigation li a h4 {
	color: #2a6744;
	text-decoration: none;
}
#navigation li a:hover {
	background: none;
}
#navigation li a:hover h4 {
	color: #31784f;
}
#reviews h5 a {
	margin-left: 200px;
	margin-bottom: 0;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif
}
#reviews h5 a:hover {
	text-decoration:underline
}
#reviews a:link, #reviews a:visited, #reviews a:hover, #reviews a:active {
	color: #a5a7ad;
	text-decoration: none;
	background: none;
	padding: 2px 2px 3px;
}
#reviews a:hover {
	background:none;
	color:#252525;
}

/* @end */

/* @group SIDEBAR NAV */

#label ul, #label ul li {
	list-style: none;
	margin: 0;
}
#label ul {	margin: 3em 0; }

#label, #label a {
	color:#d3d4d8;
	text-decoration: none;
} 
#label h3, #label h4, #label h5 {
	text-align: center;
	padding: 0;
}
#label h3 {
	position:relative;
	z-index: 220;
	background: url('../../includes/img/bg.chalk.gif') no-repeat center bottom;
	padding: 1em 0 1em;
	margin: 0 0 1em 0;
}
#label h4, #label h5 {
	background: none;
	margin-bottom: 0.5em;
}
#label h4 {	margin-bottom: 1.25em; }
#label h5 {
	font-family: Arial, Helvetica, sans-serif;
	padding:0;
}
#label a h4 		{ color:#f4f4d5; }
#label a:hover h4 	{ color: #777667;}
#label a:active h4 	{ color: #f4e77e;}
#label hr {
	border: 0 #f4f4d5 solid;
	border-top-width: 2px;
	width: 80px;
}

/* @end */

/* @group Menu listing */

.listing h2 { /*heading*/
	text-align: center;
	padding-top: 0;
	margin-bottom: 0;
}
.listing h3 { /*sub heading*/
	text-align:left;
	color: #78766e;
	text-transform: none;
	margin-bottom: 0;
}
.listing h4 { /*title*/
	font-size:14px;
	padding-top: 2em;
	padding-right: 60px;
	margin-bottom: 0.5em;
}
.listing h5 { /*price*/
	float:right;
	clear:right;	
	font-weight: bold;
	height: 3em;
	padding-left: 1em;
	margin:-1.8em 0 0;
}
.listing h6 { /*description*/
	font: 12px/1.3 "Segoe UI [10]", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	margin-bottom: 0;
	text-transform: none;
}
.listing p { /*embelishment*/
	width:320px;
	font:10px/1.5 Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	margin-bottom: 0;
}

/* @end */

/* @group Menu Listing NAV */

ul.local-nav {
	white-space: nowrap;
	clear: both;
	text-align: right;
	margin-top: 0px;	
	margin-bottom: 5px;
	margin-right: 80px;
}
ul.local-nav li {
	display: inline-table;	
	margin-left: 0.5em;
	text-transform: uppercase;
}
ul.local-nav li a {
	display: block;
	text-decoration:none;
	background:#252525;
	color: #ffffff;	
	/*padding: 1px 8px 2px;*/
	/* CSS3 tweaks for modern browsers */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;	
}
ul.local-nav li a:hover {
	background: #434343;
	color: #ffffff;	
}
div.listing {
	background-color: #62615F;
	border: 1px solid #393836;
	margin-bottom: 20px;
	/* CSS3 tweaks for modern browsers */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

/* @end */

/* @group The Action Bar */

#action h6 {
	height: 172px;
	padding: 10px;
	background: #093b1f;
	background-repeat: no-repeat;
	color: #f4f0cd;
	border: 1px solid #093b1e;
	margin-bottom: 0;
}
#action a {
	text-decoration: none;
}
#action a:hover h6 {
	background-color: #0b4d28;
}
#action a:hover h6#private {
	background-color: #f2f2f2;
}
#action .alpha h6 { /*vintage*/
	color: #0d5737;
	background: none;
	border: none;
	height: auto;
}
#action h6#picks {
	background-image: url('/images/bg.pickspick.jpg');
	background-position: bottom;
}
#action h6#reserve {
	border: 1px solid #093b1e;
	background-image: url('/images/bg.reservation.jpg');
	background-position: center 55px;
}
#action h6#limited {
	border: 1px solid #093b1e;
	background-image: url('/images/bg.limited.jpg');
	background-position: bottom;
}
#action h6#private {
	line-height: 326px;	/*pushes the text to the bottom (2x fixed height)*/
	border: 1px solid #093b1e;
	color: #0d5737;
	background-color: #fff;
	background-image: url('/images/bg.private.dining.jpg');
	background-position: top;
}
#action .alpha h5 {
	padding: 10px;
	text-transform: none;
	background: none;
	}
#action .alpha a {
	text-decoration: none;
}
#action .alpha a:hover h5 {
	background: #093b1f;
}
#action p {
	border: 1px solid #093b1e;
	padding: 10px;
}

/* @end */

p { line-height: 1.5;}
small { font:10px/1.5 Arial, Helvetica, sans-serif}

/* @end */

#primary.widget-area {float:right}

/* @group Element Layout and Presentation */

.container_12 {	background:#fff url(../includes/img/12_col.gif) repeat-y;}
.container_16 {	background:#fff url(../includes/img/16_col.gif) repeat-y;}

.opacity-adjust {
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity:0.6;
	opacity:0.6;
}
#wrapper {	
	position: relative;	
}
/*hack to space images out at the bottom when needed*/
#body .omega img, #body .alpha img {
	margin-bottom:10px;
}
#body .omega .listing img, #body .alpha .listing img {
	margin-bottom:0;
}
div.listing {
	margin-bottom: 30px;
}
div.listing div {
	background-color: #fff;
	border: 1px solid #393836;
	margin: 10px;
	/* CSS3 tweaks for modern browsers */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
div.listing div div {
	padding: 40px 58px 46px;
}
#reviews {
	position: absolute;
	right: 40px;
	top: -20px;
	height: 120px;
	background: url('../images/bg.rossouws.png') no-repeat top left;
	padding-top: 20px;
	z-index:200;
}

#navigation { border-top: dashed 1px #ccc; }

#banner {
	padding-top: 30px;
	text-align: center;
	padding-bottom: 30px;
	background: url('../images/bg.banner.gif') no-repeat center top;
	margin-top: 1.3em;
}
#primary.widget-area {
	background: url('../images/bg.sidebar.gif') no-repeat center top;
	padding:0 5px;
	width:300px;
}
#primary.widget-area h3 {
	color:#F4F0CD;
	font-size:16px;
	text-align:left;
	margin:0;
}

#primary.widget-area ul {
	margin:0;

}

#primary.widget-area img {
	margin-top: 20px;
}
#primary.widget-area #label h3 a:hover {
	color:#999
}
#primary #label {
	position: relative;
	margin: 8px 10px 20px 10px;
	padding-bottom: 90px;
	background-image: url('../images/bg.label.gif');
}
#primary #label ul.xoxo {
	padding:20px;
}
#label img {
	position: absolute;
	bottom: 0;
}
#butchery div {
	
}
#footer {
	display: block; 
	text-indent: -9999px; 
	height: 50px;
	font-size: 1px !important;
	margin-top: 80px;
	margin-bottom: 40px;
	background: url(../includes/img/bg.footer.gif) no-repeat center top;
}

.sidebar {
	float: right;
	width: 300px;
}

.sidebar .top {
	height: 206px;
	background: url(../images/sidebar_top.png) no-repeat;
	padding-top: 16px;
}

#delivery {
	width: 218px;
	height: 52px;
	background: url(../images/van.png) no-repeat;
	margin: 0px 1px 2px 35px;
}

#delivery_amt {
	color: #fff;
	font-size: 10px;
	width: 150px;
	height: 13px;
	margin: 0px 1px 0px 35px;
	padding: 45px 1px 2px 64px;
}

.sidebar .middle {
	min-height: 24px;
	background: url(../images/sidebar_middle.png) repeat-y;
}

.sidebar .bottom {
	width: 300px;
	height: 209px;
	background: url(../images/sidebar_bottom.png) no-repeat;
}

.sidebar .bar {
	min-height: 2px;
	background: url(../images/sidebar_bar.png) no-repeat;	
	margin-left: 110px;
}

.sidebar .category_container {
	width: 300px;
	text-align: center;
	padding: 20px 0;
	min-height: 200px;
}

.sidebar .category_container .title {
	font-size:16px;
	color: #fff;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.sidebar .category_container .items a:link, 
.sidebar .category_container .items a:visited {
	font-size:16px;
	color: #f4f4d5;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 20px;

}

.sidebar .category_container .items a:active {
	font-size:16px;
	color: #f4e77e;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 20px;
	margin: 0;
}

.sidebar .category_container .items a:hover {
	font-size:16px;
	color: #777667;

	padding-top: 20px;
	/*text-transform: uppercase;
	
	text-decoration: underline;*/
}

/*.sidebar .category_container .items a:hover {
	font-size:12px;
	color: #fff;
	padding-bottom: 5px;
}

.sidebar .category_container .items a:visited {
	font-size:12px;
	color: #fff;
	padding-bottom: 5px;
	text-transform: uppercase;
}*/

#bloglink {
	background: url(../images/banner_blog.jpg) no-repeat;
	width: 620px;
	height: 138px;
}

#welcomeBanner {
	float: left;
	background: url(../images/banners/welcomeBanner.jpg) no-repeat;
	width: 621px;
	height: 233px;
	margin-bottom: 10px;
}

#welcomeBanner h1 {
	color: #000;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-indent: -1000px;
}

#welcomeBanner p {
	color: #000;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 10px 0px;
	text-indent: -1000px;
}

#welcomeBanner .thawte {
	background: url(../images/banners/thawteSecure.png) no-repeat;
	width: 160px;
	height: 72px;
	float: right;
	margin-top: 10px;
}
/* @end */
