/* @override http://local.butchershop.co.za/css/tabs.css */

/* container for slides */
.images {
	background:#fff url(../images/h300.png) repeat-x bottom;
	position:relative;	
	
	height:400px;
	width:620px;
	float:left;	
	margin:0;
	cursor:pointer;
	
	/* CSS3 tweaks for modern browsers */
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;*/
	/*-moz-box-shadow:0 0 25px #666;
	-webkit-box-shadow:0 0 25px #666;*/	
}

/* single slide */
.images div {
	display:none;
	position:absolute;
	top:0;
	left:0;		
	margin:0px;
	padding:0px;
	font-size:12px;
}

/* header */
.images h1 {
	padding:12px 10px 20px 20px;
	color:#fff;
	display: block;
	background: transparent url('../images/bg.brochure.copy.png');
	position: absolute;
	bottom: -16px;
	left: 0;
	width: 590px;
}
.images a:link,.images a:visited,.images a:hover,.images a:active {
	background: none;
	text-decoration: none;
}
.images a:hover h1 {
	color: #bdbdbd;
}

/* tabs (those little circles below slides) */
.tabs {
	position:absolute;
	bottom: 10px;
	right: 20px;
	width:auto;
}

/* single tab */
.tabs a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(../images/navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;		
}

/* mouseover state */
.tabs a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
.tabs a.current {
	background-position:0 -16px;     
} 	
.tabs button {
	margin: -8px 0 0 8px;
	border: #333 solid 1px;
}
.tabs button:hover {
	background: #d6d6d6;	
}
.tabs button:active {
	background: #919191;	
}
.controls {
	position:absolute;
	bottom: 180px;
	right: 0px;
	width: 100%;	
}

/* prev and next buttons */
a.backward, a.forward{
	float:left;
	margin-top:0px;
	background:transparent url(../images/hori_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	cursor:pointer;
	font-size:1px;
	text-indent:-9999em;
	display:none;
}

a.forward {	float:right;}

/* next */
a.forward 			{ background-position: 0 -30px; margin-right:10px }
a.forward:hover 	{ background-position:-30px -30px; }
a.forward:active 	{ background-position:-60px -30px; } 


/* prev */
a.backward 			{ margin-left:10px }
a.backward:hover  	{ background-position:-30px 0;}
a.backward:active  	{ background-position:-60px 0; }

/* disabled navigational button. is not needed when tabs are configured with rotate: true */
.disabled {	visibility:hidden !important;}
