/* General Layout */

body {
	font-size: medium;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
}
h3 {
	font-size: 120%;
}
h4{
	font-size: 150%;
}
ul li {
	font-size: 90%;
}
a{
	text-decoration: none;
	color: #000000;
}
.wrapper {
	width:80em;
	height: 100%;
	margin: auto;
}

.inner{
	width:70%;
	margin-left: 15%;
}
.clear{
	clear: both;
}
/*--------------------------------------------------------------------------------------------------------*/
/* Header */

header{
}
	header section.social{		
		background-color: #535353;
		height: 5em;
	}

		.social div article.logo img{
			width: 220px;
			height: auto;
			margin-left: 22em;
			margin-right: auto;
			margin-top:0.5em;
			position: absolute;
		}
		.social article.icons{
			margin-top: 3%;			
			float: right;
		}
			.icons a{
				float: left;
				display: block;
				/*padding: 0.5em 0.5em;*/
				overflow: hidden;
				position: relative;
				height: 20px;
				width: 20px;
				margin-left: 5px;
			}
				.icons a:hover{
					background-image: url();

					
				}

				.icons a img{
					position: absolute;
					height: 40px;
					width: auto;
				}
					img#phone{
						left:4px;
						top: 0px;
					}
					img#mail{
						left:-90px;
					}
					img#man{
						left:-140px;
					}
					img#like{
						left:-185px;
					}
					img#rss{
						left:-41px;
					}

					img#phone:hover{
						left:4px;
						top: -20px;
					}
					img#mail:hover{
						left:-90px;
						top: -20px;
					}
					img#man:hover{
						left:-140px;
						top: -20px;
					}
					img#like:hover{
						left:-185px;
						top: -20px;
					}
					img#rss:hover{
						left:-41px;
						top: -20px;
					}
	a.menuFont{
		font-family: Reklame Script Regular DEMO, Bradley Hand ITC, Comic Sans MS, Arial;
		letter-spacing: 1px;
		color: #ffffff;
		font-weight: bold;
	}
	a.menuFont:hover{
		color: #000000;
	}
/*--------------------------------------------------------------------------------------------------------*/
/* Navigation */

	header nav{
		width: 100%;
		font-family: Reklame Script Regular DEMO, Bradley Hand ITC, Comic Sans MS, Arial;
		letter-spacing: 1px;
		font-weight: bold;
		-webkit-column-count: 2;
		-webkit-column-gap:230px;
		height: 100%;
		column-rule: none;
	}

	header div.menu-container{
		background-image: url(../images/header-menu-bg.png);
		background-repeat: repeat-x;
		background-position: left top;
		height: 3em;
		background-size:100% 100%;	
		padding: 1.3em 0em;
			
	}
		header nav ul{
			margin-left: auto;
			margin-right: auto;
			float: left;
			width: 100%;
			list-style: none;

		}
			header nav li a {
				float: left;
				display: block;
				padding: 10px 0.6em;
				color: #fff;
				text-decoration: none;
				font-size: 1.5em;
			}
			header nav li a:hover{
				color: black;
			}

			 #projects #projectLi a, #references #referenceLi a, #blog #blogLi a, #contact #contactLi a, #about #aboutLi a{
				color: #673C17;
			}

/*--------------------------------------------------------------------------------------------------------*/		
/* Sidebar Left and Right*/

.leftSection, .rightSection{
	width: 15%;
	height: 100%;
	float: left;

}
	.leftSection img{
		width: 100%
	}
	.leftSection p{
		font-family: Calibri, Arial;
		color:#535353;
		text-align: center;
		font-weight: bold;
		font-size: 170%;
	}
		.leftSection p span{
			font-family: Bebas Neue, Tahoma, Arial;
		}
	.rightSection dl#buyMenu{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top:1em;
	}
		dl#buyMenu dt{
			font-family: Bebas Neue, Tahoma, Arial;
			font-size:160%;
			color: #535353;
			text-align: center;
		}
			dl#buyMenu dt a{
				color: #535353;
			}
			dl#buyMenu dt a span{
				font-weight: bolder;
			}
			dl#buyMenu dd img{
				width: 70px;
				height: auto;
				margin-left: 36%;
				margin-top:1em;
			}
/*--------------------------------------------------------------------------------------------------------*/
/* Main Content*/

.middleSection{
	width: 70%;
	height: 100%;
	float: left;
}
	.main-content{
		width: 100%;
		padding: 1em 0em;
		color: #7C4D25;
	}
/*--------------------------------------------------------------------------------------------------------*/
/*Posts/Products and Categories*/

#grid_item, .outer_product_container{
	width: 100%;
	background-color: #c89d64;
	float: left;
	padding: 1em 0em;
}
	.wpsc_categories {
		margin-left: auto;
		margin-right: auto;
	}

		#category, .inner_product_container{
			width: 30%;
			margin: 0.9em;
			margin-top:0;
			float: left;
		}
			.prod_right_col{
				width:100%;
				/*background-color:white;*/
				/*border:solid white 1px;*/
				margin-top:0.5em;
			}
				
		.cat_header, .prod_title{
			font-size:110%;
			border-bottom: 1px #997f61 solid;
			margin-bottom: 0.5em;
		}

		.cat_header a, .prod_title a{
			color: #ffffff;
		}

		.wpsc_category_grid_item img, .prod_img_container img{
			width: 100%;
			height: 12em;
		}

		#view_prod{
			margin-top:0.5em;
			background-color: #7c4d25;
			width: 100%;
			display:block;
			border:1px solid #ffffff;
			border-radius:5px;
			padding: 2px;
			white-space:nowrap;           /* force single line */
			text-align: center;
		}

		#view_prod a{
			color: #ffffff;
			display: block;
			text-transform: capitalize;
		}

		.wpsc_page_numbers{
			height: 40px;
			width: 100%;
			float: left;
			background-color: white;
		}

		#first, #next, #previous, #last, #pages{
			background-color: #7c4d25;
			display:block;
			border:1px solid #ffffff;
			border-radius:5px;
			padding: 2px 0.5em;
			white-space:nowrap;           /* force single line */
			text-align: center;
			float: left;
			color: #ffffff;
			display: block;
			font-size: 20px !important;
		}
		
		#first, #next, #previous, #last{
			width: 15%;
		}

		#first a, #next a, #previous a, #last a, #pages a{
			color: #ffffff;
			display: block;
			font-size: 20px !important;
		}

		/* Form */
		.wpsc_variation_forms{
			height: auto !important;
			margin: 0;
		}

		.right{
			float: left;
			width: 100%;
		}

		.subtotal, .quantity, .total{
			width: 33%;
			float: left;
		}

		.variation_select{
			float: left;
			width: 50%;
		}

		.variation_name{
			float: left;
			width: 33%;
		}

		.totals_container{
			margin-top: 0.5em;
		}

		.buy_button{
			width: auto;
			height: auto;
		}
/*--------------------------------------------------------------------------------------------------------*/	
/* Slider*/

	#slideshow{
		width: 100%;
		height: 30em;
	}
	.boxContainer{
		background-color: #c89d64;
		width: 100%;
		height: 100%;
	}
		.boxContainer dl{
			margin: 2em;
			margin-top:0;
			float: left;
		}
			.boxContainer dl div.smallBox{
				float: left;
				font-family: Calibri, Arial;		
				margin-left:2%;
				margin-top:1%;
				width: 30%;
			}
			.boxContainer dl dt{
				color: #ffffff;
				font-size:200%;
				border-bottom: 1px #997f61 solid;
				margin-bottom: 0.5em;
			}
			.boxContainer dl dd{
				color: #7C4D25;
				
			}
				.boxContainer dl dd img{
					width: 100%;
					height: 12em;
				}
				.boxContainer dl dd a.readMore{
					margin-top:0.5em;
					background-color: #7c4d25;
					width: 5.1em;
					display:block;
					border:1px solid #ffffff;
					border-radius:5px;
					padding: 2px;
					color: #ffffff; 
					-o-text-overflow: ellipsis;   /* Opera */
    				text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    				overflow:hidden;              /* don't show excess chars */
    				white-space:nowrap;           /* force single line */
   				}
.dot{
background-image: url(../images/dot.png);
background-repeat: repeat-x;
background-position: left bottom;
width: 100%;
height: 2em;
}
/*--------------------------------------------------------------------------------------------------------*/
/* Footer*/

footer{
	clear: both;
	font-size: 85%;	
	background-image: url(../images/footer-dot.png);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #535353;
	padding-top:2em;
	padding-bottom: 2em;

	color: #ffffff;
}
	.footerMenu{
		float: left;
		color:#ffffff;
		margin-bottom: 2em;
	}
	.footerMenu li{
		float: left;
		padding: 0em 0.4em;

	}
		.footerMenu li a{
			color: #ffffff;
		}

		.footerMenu li a:hover{
			color: #c89d64
		}
	.copyRight{
		float: right;
	}